.App {
  text-align: center;
}

#name {
  font-family: 'Duera Expanded Black';
  font-size: 77px;
}

#greeting {
  font-family: 'Souvenir Light';
}

#blurb {
  font-family: 'Souvenir Light';
}

#interests {
  font-family: 'Souvenir Light';

}

.interestbullets {
  font-family: 'Souvenir Light';

}

.icons {
  width: 50px
}

#nav {
  position: fixed;
  top: 0;
  width: 80%;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: 2;  /* Never stop waving :) */
  animation-delay: 0s;
  transform-origin: 30% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(0.0deg) }
   10% { transform: rotate(-8.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(8.0deg) }
   30% { transform: rotate(-8.0deg) }
   40% { transform: rotate(8.0deg) }
   50% { transform: rotate(-10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* --------------- project container below ---------------- */

#projectcontainer {
  border: 0px;
}


/* --------------- fonts below ---------------- */

 @font-face {
  font-family: 'Duera Expanded Black';
  font-style: normal;
  font-weight: normal;
  src: local('Duera Expanded Black'), url('./fonts/duera-expanded-black.ttf') format('woff');
  }


@font-face {
 font-family: 'GT Pressura Light';
 font-style: normal;
 font-weight: normal;
 src: local('GT Pressura Light'), url('./fonts/gt-pressura-light.ttf') format('woff');
 }


@font-face {
  font-family: 'Souvenir Light';
  font-style: normal;
  font-weight: normal;
  src: local('Souvenir Light'), url('./fonts/souvenir-light.otf') format('woff');
  } 


/* From final project below*/

@font-face {
  font-family: 'Windsor Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Windsor Pro Bold'), url('./fonts/WindsorProBold.woff') format('woff');
  }

@font-face {
  font-family: 'Windsor Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Windsor Pro Regular'), url('./fonts/WindsorProRg.woff') format('woff');
  }
  
@font-face {
font-family: 'Windsor Pro Elongated';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Elongated'), url('./fonts/WindsorProElongated.woff') format('woff');
}

@font-face {
font-family: 'Windsor Pro Extra Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Extra Bold Condensed'), url('./fonts/WindsorProXBoldCn.woff') format('woff');
}

@font-face {
font-family: 'Windsor Pro Ultra Heavy';
font-style: normal;
font-weight: normal;
src: local('Windsor Pro Ultra Heavy'), url('./fonts/WindsorProUltHv.woff') format('woff');
}

@font-face {
  font-family: 'danzza-medium-webfont';
  font-style: normal;
  font-weight: normal;
  src: local('danzza-medium-webfont'), url('./fonts/danzza-medium-webfont.ttf') format('woff');
  }