
.button.ui.button.scrollbutton {
    font-family: 'Souvenir Light';
    display: flex;
    margin: auto;
    font-size: 14px;
  
    --borderWidth: 1;
    --boxShadowDepth: 2.1;
    --buttonColor: #093B50;
    --horizontalPadding: 16;
    --verticalPadding: 8;
  
    background: transparent;
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    box-shadow: calc(var(--boxShadowDepth) * 1px) calc(var(--boxShadowDepth) * 1px) 0 #888;
    color: var(--buttonColor);
    cursor: pointer;
    
    outline: transparent;
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    transition: box-shadow 0.2s ease;
  }
  
  .button.ui.button.scrollbutton:hover {
    box-shadow: calc(var(--boxShadowDepth) / 2 * 1px) calc(var(--boxShadowDepth) / 2 * 1px) 0 #888;
  }
  
  .button.ui.button.scrollbutton:active {
    box-shadow: 0 0 0 rgb(223, 217, 217);
  }